<!DOCTYPE html>
<html>
<head>
  <title>JavaFiddle</title>
  <%= stylesheet_link_tag    "home", :media => "all" %>
  <%= stylesheet_link_tag    "codemirror", :media => "all" %>
  <%= stylesheet_link_tag    "scaffolds", :media => "all" %>


  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery-ui.min.js" %>
  <%= javascript_include_tag "codemirror" %>
  <%= javascript_include_tag "clike" %>

  <%= csrf_meta_tags %>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29511494-1']);
  _gaq.push(['_setDomainName', 'javafiddle.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
</head>
<body>

<%= yield %>

</body>
<%= javascript_include_tag "home" %>
</html>
