<!DOCTYPE html>
<html>
<head>
  <title>JavaFiddle</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<%= javascript_include_tag "home" %>
</html>
